<pdf-analyzer *ngIf="service.objectId === 'ADDEBC90-3EF4-4BB6-A6B0-A7F68260E6BB'"></pdf-analyzer>
<!--<question-answering *ngIf="service.objectId === '2AF4FCA4-E994-4169-B1A7-46AE7AF2875D'"></question-answering>-->
<german-question-answering *ngIf="service.objectId === '2AF4FCA4-E994-4169-B1A7-46AE7AF2875D'"></german-question-answering>
<text-summarization *ngIf="service.objectId === '5C576141-958A-4D6A-887B-AC31ACE2CC8E'"></text-summarization>
<website-audit *ngIf="service.objectId === '986372C8-D449-4798-BDEE-EABC2AC5C101'"></website-audit>
<document-classification *ngIf="service.objectId === '2590FC8A-CDD9-41C2-BDC8-310965794B70'"></document-classification>