<div class="header">
    <div class="title">New Product</div>
    <button class="close-button" mat-icon-button (click)="saveAndClose()" [tabIndex]="-1">
        <mat-icon [svgIcon]="'close'"></mat-icon>
    </button>
</div>

<form [formGroup]="productForm" (ngSubmit)="saveAndClose()">
    <mat-form-field style="width: 336px;">
        <mat-label>Product name</mat-label>
        <input matInput formControlName="name" required maxlength="250" type="text">
    </mat-form-field>

    <div class="actions">
        <div class="buttons">
            <button class="save-button" mat-stroked-button type="submit">
                <mat-icon [svgIcon]="'save'"></mat-icon>
                <span>Deploy solution</span>
            </button>
        </div>
    </div>
</form>