<div class="flex flex-col flex-auto w-full" style="margin: -30px 0 0 -15px">
    <div class="flex flex-wrap w-full">
        <div class="w-1/3">
            <h4>Data</h4>
            <treo-card class="card flex flex-col max-w-80 w-full filter-shopping"
                routerLink="/services/detail/ADDEBC90-3EF4-4BB6-A6B0-A7F68260E6BB">
                <div class="relative">
                    <img class="object-cover"
                        src="https://backendlessappcontent.com/064CA377-4274-75AF-FF60-4EB6BFF10000/BC4605C3-7B43-498D-B446-1D104AD4BDB8/files/images/text_summarization.jpg">
                </div>
                <div class="m-8 mb-0">
                    <div class="flex flex-col">
                        <div class="text-2xl leading-tight">PDF Extractor</div>
                    </div>
                    <div class="mt-6 -mx-8">
                        <button
                            class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base mat-primary"
                            mat-flat-button color="primary">Show</button>
                    </div>
                </div>
            </treo-card>
        </div>
        <div class="w-2/3">
            <h4>Services</h4>
            <div class="flex flex-wrap">
                <treo-card class="card flex flex-col max-w-80 w-full filter-shopping"
                    routerLink="/services/detail/5C576141-958A-4D6A-887B-AC31ACE2CC8E">
                    <div class="relative">
                        <img class="object-cover"
                            src="https://backendlessappcontent.com/064CA377-4274-75AF-FF60-4EB6BFF10000/BC4605C3-7B43-498D-B446-1D104AD4BDB8/files/images/text_summarization.jpg">
                    </div>
                    <div class="m-8 mb-0">
                        <div class="flex flex-col">
                            <div class="text-2xl leading-tight">Text summarization</div>
                        </div>
                        <div class="mt-6 -mx-8">
                            <button
                                class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base mat-primary"
                                mat-flat-button color="primary">Show</button>
                        </div>
                    </div>
                </treo-card>

                <treo-card class="card flex flex-col max-w-80 w-full filter-shopping"
                    routerLink="/services/detail/2590FC8A-CDD9-41C2-BDC8-310965794B70">
                    <div class="relative">
                        <img class="object-cover"
                            src="https://backendlessappcontent.com/064CA377-4274-75AF-FF60-4EB6BFF10000/BC4605C3-7B43-498D-B446-1D104AD4BDB8/files/images/website_audit.jpg">
                    </div>
                    <div class="m-8 mb-0">
                        <div class="flex flex-col">
                            <div class="text-2xl leading-tight">Document classification</div>
                        </div>
                        <div class="mt-6 -mx-8">
                            <button
                                class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base mat-primary"
                                mat-flat-button color="primary">Show</button>
                        </div>
                    </div>
                </treo-card>

                <treo-card class="card flex flex-col max-w-80 w-full filter-shopping"
                    routerLink="/services/detail/2AF4FCA4-E994-4169-B1A7-46AE7AF2875D">
                    <div class="relative">
                        <img class="object-cover"
                            src="https://backendlessappcontent.com/064CA377-4274-75AF-FF60-4EB6BFF10000/BC4605C3-7B43-498D-B446-1D104AD4BDB8/files/images/question_answering.jpg">
                    </div>
                    <div class="m-8 mb-0">
                        <div class="flex flex-col">
                            <div class="text-2xl leading-tight">Question answering</div>
                        </div>
                        <div class="mt-6 -mx-8">
                            <button
                                class="w-full rounded-t-none mat-focus-indicator w-full rounded-t-none mat-flat-button mat-button-base mat-primary"
                                mat-flat-button color="primary">Show</button>
                        </div>
                    </div>
                </treo-card>
            </div>
        </div>
    </div>
</div>